html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    position:fixed;
    top: 50px;
    height: 100%;
}

/* Les icônes dans la barre de nav */
.icon{
	height: 20px;
	padding-right: 5px;
	margin-top: -5px;
}

/* Le logo dans la barre de nav */
.logoPNE{
	height: 40px;
	padding: 0px;
}

/* Barre de navigation */

.navbar {
	box-shadow: -1px 0 10px #000000;
}

.navbar .navbar-titre {
	font-weight: bold;
	font-size: 18px;
	color: white;
	white-space: nowrap;
}

.navbar-header{
	padding-top: 6px;
}

@media (max-width: 992px) {
	html 
	{
		font-size:70%;
	}
	
	.navbar .navbar-titre {
		font-size: 1em;
		float: left;
	}	
}

/* Petit trait violet de la couleur du logo juste en dessous de la barre de navigation */
.navbar-inverse{
	border-bottom: 1px solid #981D97;
}

.white {
    color: #FFF;
}

.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}

.navbar-header a.navbar-icon {
    margin-left: 25px;
}

.navbar-header .navbar-icon-container {
    margin-right: 15px;
}

/* BOUTON DETAIL */
.button-droite{
	position:absolute;bottom:5px;right:5px;
}

.img10{
	margin-right:10px;
}

/* Filter */
#main-menu{
    position: relative;
    border: 1px solid #808080;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    color: #aaa;
}

#filter-panel {
  overflow-y: auto;
  overflow-x: hidden;
  background : transparent none repeat scroll 0% 0%;
  color: #222;
  min-width: 250px;
}

#filter-panel ul {
  padding: 0;
}

#filter-panel li {
  list-style: none;
}

#filter-panel label {
  font-weight:normal;
} 

#filter-panel .panel {
    border-left: 0px none;
    border-right: 0px none;
    margin-bottom: 0px;
    padding: 0px;
}
#filter-panel .dropdown-menu {
    margin: 0px;
}
.panel-heading span {
    font-size: 15px;
    margin-right: -9px;
    margin-left: 9px;
}

.caret{
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    border-top:0;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.collapsed .caret{
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-top: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.caretbig{
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid;
    border-top:0;
    margin-top: 10px;
}

.collapsed .caretbig{
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-top: 10px solid;
}

/* Panneau latéral */
#sidebar{
	/*top: 8vh;*/
	/*margin-top: 50px;*/	
	/*height: 92%;*/
    height: 100%;
    /*max-width: 100%;*/
	/*bottom: 0px;*/
	position: fixed;
	/*display: block;*/
	overflow: auto;
	padding: 10px 15px;
	/*position: absolute;*/
	margin-bottom: auto;
    /*float: left;*/
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

/* Contenu du panneau latéral */
#containerSidebar{
}

/* Le bouton pour Affiche/Masquer la sidebar */
.toggle {
    z-index: 1300;
    opacity: 0.8;
    display: block;
    bottom: 0px;
    left: 0px;
    position: fixed;
    border-radius: 0px 4px 4px 0px;
    color: #FFF;
    background-color: #222;
    padding: 20px 30px;
}

/* Au survol du bouton, on garde la couleur blanche */
.toggle:hover{
	color: white;
}

/* La carte */

#containerCarte{
	height: 100%;
}
#carte{
    width: auto;
	height: 100%;
	margin-bottom: 0px;
	margin-left: -15px;
	margin-right: -15px;
	overflow: none;
}
#button-wrapper{
    position: absolute;
    top: 20px;
    float: right;
    right: 20px;
    width: 250px;
    border: 1px solid #808080;
    border-radius: 4px;
}
#button-wrapper input{
    background: rgba(240, 240, 240, 0.9);
    color: rgb(34, 34, 34)
}

#imgPNE{
	height: 100px;
	margin-left: 10px;
}

.texteContainerSidebar{
	font-size: 1em;
	margin-right: 5px;
	margin-left: 10px;
}

.sautLigne{
	margin-top: 5px;
}

.listHighlight{
	color: #F5F5F5 ! important;
	box-shadow:  2px 2px 2px #000;
	background-color: #333 ! important;
}

.imgModal{
	height: 300px;
}

.modal-body{
	margin: 15px;
}

.modal-subtitle{
	margin-left: 26px;
}
.indent{
	margin-left: 10px;
}

.bs-callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h2{
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout h4{
    margin-top: 0;
    margin-bottom: 10px;
}

.bs-callout p:last-child{
    margin-bottom: 0;
}

.bs-callout code{
    border-radius: 3px;
}

.bs-callout+.bs-callout{
    margin-top: -5px;
}

.bs-callout-default{
    border-left-color: #777;
}

.bs-callout-default h2, .bs-callout-default h4{
    color: #777;
}

.bs-callout-primary{
    border-left-color: #428bca;
}

.bs-callout-primary h2, .bs-callout-primary h4{
    color: #428bca;
}

.bs-callout-primary {
    color: #428bca;
}

/* Load mask */
#loadmask{
    position: absolute;
   /* background: url('../img/load.gif') center no-repeat #fff; */
   background: url('../img/background_geologie.jpg') center no-repeat #fff;
   background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:9999;    
}

#loadingTitle{
    position: fixed; 
    background: transparent none repeat scroll 0% 0%;
    top: 20%;
}

#loadGif{
    position: relative;
    top: 25%;
}

.onloading{
    display: block;
}

.isload{
    display:none;
}

.espacement-jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.espacement-modal-title{
	padding-left: 5px;
}

.espacement-p{
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.imgListe{
	height: 140px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#headingFour, #headingFive, #headingThree, #headingTwo, #headingOne{
	cursor: pointer;
}

#carouselPhotos{
	width: 100%;
}

.gauche{
	text-align: left;
}

.centrage{
	text-align: center;
}

.smalltext{
	font-size: 0.7em;
}

.hideme {
    display:none;
}

.showme {
    display:block;
}


.search-wrapper {
    position: relative;
}
.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}