/* Les icônes dans la barre de nav */
.icon{
	height: 20px;
	padding-right: 5px;
	margin-top: -5px;
}

/* Le logo dans la barre de nav */
.logoPNE{
	height: 40px;
	padding: 0px;
	margin-top: -10px;
}

/* Le même curseur que lorsque l'on clique sur un lien, là il est sur le titre de la barre de nav */
.navbar-brand{
	cursor: pointer;
}

/* Petit trait violet de la couleur du logo juste en dessous de la barre de navigation */
.navbar-inverse{
	border-bottom: 2px solid #981D97;
}

/* Filter *//*
#main-menu{
    color :#fff;
    float:right;
}
#filter-panel {
  overflow-y: auto;
  overflow-x: hidden;
}

#filter-panel ul {
  padding: 0;
}

#filter-panel li {
  list-style: none;
}

#filter-panel label {
  font-weight:normal;
} 

.panel {
    border-left: 0px none;
    border-right: 0px none;
    margin-bottom: 0px;
    padding: 0px;
    background: rgba(51, 48, 48, 0.6) none repeat scroll 0% 0%;
}
.dropdown-menu {
    margin: 0px;
}*/

/* Panneau latéral */
#sidebar{
	/*top: 8vh;*/
	/*margin-top: 50px;*/	
	/*height: 92%;*/
	top: 50px;
	bottom: 0px;
	position: fixed;
	display: block;
	overflow: auto;
	padding: 10px 15px;
	position: absolute;
	box-shadow: inset 0 0 10px #000000;
	margin-bottom: auto;
}

/* Contenu du panneau latéral */
#containerSidebar{
}

/* Le bouton pour Affiche/Masquer la sidebar */
.toggle {
    z-index: 1300;
    opacity: 0.8;
    display: block;
    bottom: 0px;
    left: 0px;
    position: fixed;
    border-radius: 0px 4px 4px 0px;
    color: #FFF;
    background-color: #222;
    padding: 20px 30px;
}

/* Au survol du bouton, on garde la couleur blanche */
.toggle:hover{
	color: white;
}

/* La carte */
#carte{
	margin-top: 51px;
	height: 92vmin;
	margin-bottom: 0px;
	margin-left: -15px;
	margin-right: -15px;
	overflow: none;
}

#imgPNE{
	height: 100px;
	margin-left: 10px;
}

.texteContainerSidebar{
	font-size: 1em;
	margin-right: 5px;
	margin-left: 10px;
}

.sautLigne{
	margin-top: 5px;
}

.couleurRouge{
	color: #F5F5F5;
	box-shadow:  2px 2px 2px #000;
	background-color: #333;
}

.couleurNoire{
	color: #333;
	background-color: #F5F5F5;
}

.imgModal{
	height: 300px;
}

.modal-body{
	margin: 15px;
}

.modal-subtitle{
	margin-left: 26px;
}
.indent{
	margin-left: 10px;
}

.bs-callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h2{
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout h4{
    margin-top: 0;
    margin-bottom: 10px;
}

.bs-callout p:last-child{
    margin-bottom: 0;
}

.bs-callout code{
    border-radius: 3px;
}

.bs-callout+.bs-callout{
    margin-top: -5px;
}

.bs-callout-default{
    border-left-color: #777;
}

.bs-callout-default h2, .bs-callout-default h4{
    color: #777;
}

.bs-callout-primary{
    border-left-color: #428bca;
}

.bs-callout-primary h2, .bs-callout-primary h4{
    color: #428bca;
}

.bs-callout-primary {
    color: #428bca;
}

/* Load mask */
#loadmask{
    position: absolute;
    background: url('../img/load.gif') center no-repeat #fff;
    height: 100%;
    width: 100%;
    overflow: none;
    z-index:9999;    
}

.onloading{
    display: block;
}

.isload{
    display:none;
}

.espacement-jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.espacement-modal-title{
	padding-left: 5px;
}

.espacement-p{
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.imgListe{
	height: 140px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#headingFour, #headingFive, #headingThree, #headingTwo, #headingOne{
	cursor: pointer;
}

.diminutionPolice{
	font-size: 13px;
}

#carouselPhotos{
	height: 300px;
	width: 100%;
}

.centrage{
	text-align: center;
}