<div>
    <h3 class="text-center">
    {{loading}}
    </h3>
    <h4 class="text-center">
    {{pdfName}}
    </h4>
    
    <canvas id="pdf" class="rotate0"></canvas>
    
    <div class="row text-muted text-center bg-info">
        <nav ng-class="getNavStyle(scroll)" class="btn btn-default">
          <button ng-click="goPrevious()" class="btn btn-default"><</span></button>
          <button ng-click="goNext()" class="btn btn-default">></span></button>

          <button ng-click="zoomIn()" class="btn btn-default">+</span></button>
          <button ng-click="fit()" class="btn btn-default">100%</span></button>
          <button ng-click="zoomOut()"class="btn btn-default">-</span></button>

          <button ng-click="rotate()" class="btn btn-default">90</span></button>

          <span>Page: </span>
          <input type="text" style="width:50px" min=1 ng-model="pageNum">
          <span> / {{pageCount}}</span>
        </nav>
    </div>
</div>
