<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /geologie/
    
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d    
    #RewriteRule ^(site-PAC0004)$  index.php  [L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>