{
	"order" : 1,
	"id": "default", 
	"clustering": false,
	"name": "Carte des sites géologiques", 
	"center": {
		"lat": 44.83,
		"lng": 6.18,
		"zoom": 10
	},
	"location":{
		"url":"data/communes.json",
		"name":"Communes"
	},
	"layers": {
        "mainLayerName" : "Sites geologiques",
		"baselayers": [
			{
				"name": "OpenCycleMap",
				"type": "xyz",
				"url": "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png",
				"active": false,
                "changeopacity" : false,
				"options":{}
			},
			{
				"name": "OpenStreetMap",
				"type": "xyz",
				"url": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
				"active": false,
                "changeopacity" : false,
				"options":{}
			},
			{
              "name": "IGN SCAN",
              "type": "ign",
              "key" : "94zzr2fl3uvw9y9mzqskwyuo",
              "layer" : "GEOGRAPHICALGRIDSYSTEMS.MAPS", 
              "active" : false,
              "changeopacity" : false,
              "options": {"maxZoom": 17, "attribution": "IGN", "subdomains": ""}
            },
            {
              "name": "IGN Orthophotographie",
              "type": "ign",
              "key" : "94zzr2fl3uvw9y9mzqskwyuo",
              "layer" : "ORTHOIMAGERY.ORTHOPHOTOS", 
              "active" : false,
              "changeopacity" : false,
              "options": {"maxZoom": 19, "attribution": "IGN", "subdomains": ""}
            },
			{
				"name": "IGN SCAN Express",
				"type": "ign",
				"key" : "94zzr2fl3uvw9y9mzqskwyuo",
				"layer" : "GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD", 
				"active" : true,
                "changeopacity" : false,
				"options": {"maxZoom": 17, "attribution": "IGN", "subdomains": ""}
			}
		],
        "opacitylayer":{
            "name": "Carte géologique",
            "type": "wms",
            "url" : "http://geoservices.brgm.fr/geologie",
            "options": {"layers":"Geologie","transparent":"true","opacity": 0,"format":"image/png","srs":"EPSG:4326"}
        },
        "limiteslayers":[
            {
                "name": "Limites name",
                "type": "xyz",
                "url" : "http://mydomaine.fr/myappdir/data/mbtiles/mylimitedir/{z}/{x}/{y}.png",
                "active": true,
                "options":{}
            }
        ]
	}
}