<?php
// connexion à la base de données
$serveur = ""; 
$user = "";
$passe = ""; 
$base = "";

//vue permettant la création du geojson des sites
$mavue = "geologie.v_sites";

//titre de l'application (balise 'title' du <head> dans le html)
$title = 'Mes sites géologiques';
?>