<?php

// Connexion à la base de données
$serveur = ""; 
$user = "";
$passe = ""; 
$base = "";

// Vue renvoyant la liste et le contenu des sites
$vuesites = "geologie.v_sites";

// Titre de l'application (balise <title> du <head> dans le html)
$title = "Mes sites géologiques";

// URL de base de l'application. Nécessaire pour le fonctionnement avec l'URL rewriting et le $locationProvider.html5Mode d'angular
$base_url = "/geologie/";

// Identifiant de suivi de Google Analytics pour disposer de statistiques de consultation
$ID_GA = "UA-XXXXXXX-XX";

?>