
<div id="loadmask" ng-model="loadingClass" ng-class="loadingClass">
    <div class="row">
		<div id="loadingTitle" class="col-md-offset-3 jumbotron col-md-6">
			<img alt="logoPNE" src="img/logo.png" class="img-responsive center-block" style="height: 50px;">
			<br />
			<p class="centrage">L'application est en cours de chargement, veuillez patienter...</p>
		</div>
	</div>
	<div id="loadGif" class="centrage"><img src="img/load.gif"></div>
</div>


<!-- Barre de navigation -->
<div ng-include src="'templates/navBar.html'"></div>

<div id="container" >
    <!-- Panneau latéral -->
    <div id="sidebar" class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
        <show-sidebar></show-sidebar>
        <div ng-include src="'templates/listeSidebar.html'" ></div>
    </div>

    <!-- La carte -->
    <div id="containerCarte" class="col-lg-offset-3 col-md-offset-4 col-sm-offset-6 col-lg-9 col-md-8 col-sm-6 col-xs-12">
        <div id="carte"></div>
    </div>		
</div>