<div id="sidebar" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div id="containerSidebar">
		<div class="row" ng-bind-html="contentHTML.sideBarContent.content | sanitize"></div>
		<hr>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">				
			<div ng-repeat="site in geojsonSites" class="panel panel-default" id="{{ 'anchor' + site.properties.id_site }}" ng-click="bindListMap(site)">
				<div 
                    class="panel-heading" 
                    role="button" id="{{ 'heading' + site.properties.id_site }}" 
                    data-toggle="collapse" 
                    data-parent="#accordion" 
                    data-target="{{ '#collapse' + site.properties.id_site }}" 
                    aria-expanded="true" 
                    aria-controls="{{ 'collapse' + site.properties.id_site }}"
                >
					<h4 class="panel-title">
						<strong id="{{site.properties.id_site}}">{{ site.properties.nom_site }}</strong>
					</h4>
				</div>
				<div id="{{ 'collapse' + site.properties.id_site }}" class="panel-collapse collapse bidon" role="tabpanel" aria-labelledby="{{ 'heading' + site.properties.id_site }}">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-5" ng-if="site.properties.code_region !== 'RHA'">								
								<img class="img-responsive img-rounded imgListe pull-left" alt="photoListe" ng-src="{{ 'data/img/photo' + site.properties.id_site + '.png' }}">
							</div>
							<div class="col-md-7">
								<strong>Commune : </strong>{{ site.properties.commune}} <br />
								<strong>Lieu-dit : </strong>{{ site.properties.lieudit }} <br />
								<div ng-if="site.properties.eval_interet_patrim == 3"><strong>Intérêt patrimonial :</strong> <span>★★★</span></div>
								<div ng-if="site.properties.eval_interet_patrim == 2"><strong>Intérêt patrimonial :</strong> <span>★★☆</span></div>
								<div ng-if="site.properties.eval_interet_patrim == 1"><strong>Intérêt patrimonial :</strong> <span>★☆☆</span></div>
								<strong><abbr ng-if="abbrListe1" title="{{ abbrListe1 }}">Rareté :</abbr> </strong>{{ site.properties.rarete }} <br />
								<a role="button" class="btn btn-default" href="#" ng-click="openDetails(site.properties)">Afficher détails &raquo </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 		
	</div>			
</div>	