
	<div class="sidebar-wrapper">
        <div class="texteContainerSidebar">
            <p>
				<em>Inventaire des sites géologiques du Parc national des Ecrins.</em>
			</p>
            <div >
                <input class="form-control search" type="text" placeholder="Rechercher" ng-model="$parent.siteNameFilter"></input>
            </div>
            <!--<div class="collapse navbar-collapse" id="main-menu" >
                <div class="navbar-nav">
                    <div class="panel-heading filter-collapse collapsed" type="button" data-toggle="collapse" data-target="#filter-panel">{{::mainLayerFilters.interet_geol.name}} (Filtre)<span class="caret"></span></div>
                    <div class="panel dropdown-menu collapsed" id="filter-panel">
                       <dir-filter-element ng-repeat="(key, obj) in ::mainLayerFilters" 
                            on-check="dofilterOnMap()" filter="obj" key="key"/> 
                    </div>
                </div>
            </div >-->
            <multiple-autocomplete ng-model="$parent.interetsGeolArray" object-property="name" suggestions-arr="interetsGeolFilters" ng-change="doFilter()"></multiple-autocomplete>
            <button type="button" class="btn btn-default" ng-click="doFilter()">Filtrer</button>
        </div>
        
		<hr>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">				
			<div ng-repeat="site in ($parent.filteredSites = (geojsonSites | filter: siteNameFilter | orderBy:'properties.nom_site'))" class="panel panel-default" id="{{ 'anchor' + site.properties.id_site }}" ng-class="site.properties.display">
				<div 
                    class="panel-heading"
                    role="button" id="{{ 'heading' + site.properties.id_site }}" 
                    data-toggle="chimereClass" 
                    data-parent="#accordion" 
                    data-target="{{ '#collapse' + site.properties.id_site }}" 
                    aria-expanded="true" 
                    aria-controls="{{ 'collapse' + site.properties.id_site }}"
                    ng-click="bindListMap(site)"
                >
					<h4 class="panel-title">
						<strong id="{{site.properties.id_site}}">{{ site.properties.nom_site }}</strong>
					</h4>
				</div>
				<div id="{{ 'collapse' + site.properties.id_site }}" class="panel-collapse collapse chimereClass" role="tabpanel" aria-labelledby="{{ 'heading' + site.properties.id_site }}">
					<div class="panel-body" style="position:relative;">
						<div>								
							<img class="img-responsive img-rounded imgListe pull-left img10" alt="photoListe" ng-src="{{ 'data/img/photo' + site.properties.id_site + '.png' }}">
						</div>
						<div>
							Site {{ site.properties.typologie2 }} / {{ site.properties.typologie3 }} <br />
							<div ng-if="site.properties.eval_interet_patrim == 3"><strong>Valeur patrimoniale :</strong> <span>★★★</span></div>
							<div ng-if="site.properties.eval_interet_patrim == 2"><strong>Valeur patrimoniale :</strong> <span>★★☆</span></div>
							<div ng-if="site.properties.eval_interet_patrim == 1"><strong>Valeur patrimoniale :</strong> <span>★☆☆</span></div>
							<strong>Intérêt : </strong>{{ site.properties.interet_geol }} <br />
                            <strong>Lieu-dit : </strong>{{ site.properties.lieudit }} <span class="smalltext">({{ site.properties.commune}})</span>
						</div>
						<a role="button" class="btn btn-default button-droite" href="site-{{site.properties.id_site}}" ><span class="fa fa-file-text-o"></span> Afficher détails &raquo </a>
					</div>
				</div>
			</div>
		</div> 		
	</div>			
