<div class="modal-content" id="aboutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ok()">&times;</button>
        <div class="jumbotron espacement-jumbotron">
            <h1 class="modal-title espacement-modal-title">Bienvenue</h1>
            <p class="espacement-p">Le Parc national des Ecrins met à disposition l'inventaire des sites géologiques remarquables.</p>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <p>
				Les sites géologiques présentés résultent de l'inventaire national du patrimoine géologique initié en 2009. Cet inventaire est coordonné au niveau national par la CPPG (Commission permanente du patrimoine géologique) et validé scientifiquement par le MNHN (Muséum national d'Histoire naturelle) et le BRGM (Bureau de Recherches Géologiques et Minières).
			</p>
			<p>
				Sur le Parc national des Ecrins, l'inventaire s'est terminé et a été validé en 2011. 
			</p>
			<p>
				65 sites ont ainsi été retenus dans les Hautes-Alpes et 14 en Isère. Ils concernent des thématiques variés : paysages, tectonique, minéralogie, paléontologie, sédimentologie ou encore géomorphologie.  Chaque monographie a été rédigée par un expert géologue et mise en forme par Didier Brugot, chargé de mission en géologie (à présent retraité !) au sein du Parc. Parmi ces 79 sites, 19 présentent un caractère sensible (fossiles, minéraux ou cristaux rares) et restent à l'heure actuelle confidentiels. Toutefois, la richesse des informations fournies par tous les sites présentement publiés permettra au plus grand nombre de découvrir ce partimoine géologique exceptionnel !
			</p>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Fermer</button>
    </div>
</div>
