<div class="modal-content" id="helpModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ok()">&times;</button>
        <div class="jumbotron espacement-jumbotron">
            <h1 class="modal-title espacement-modal-title">Contact</h1>
            <p class="espacement-p">Pour nous contacter</p>
        </div>
    </div>
    <div class="modal-body">
		<p>Par courrier ou téléphone :</p>
		<p class="well well-sm">Le Parc national des Ecrins - Domaine de Charance - 05000 GAP <br>Tel : +33(0)4 92 40 20 10</p>
		<p>Par courriel :</p>
		<p class="well well-sm">Il est possible de nous contacter par courriel en remplissant notre formulaire de contact.<br>
		<a href="http://www.ecrins-parcnational.fr/nous-contacter" target="_blank">Contactez-nous par courriel</a>.
		</p>
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Fermer</button>
    </div>
    
</div>
