<div class="modal-content" id="helpModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ok()">&times;</button>
        <div class="jumbotron espacement-jumbotron">
            <h1 class="modal-title espacement-modal-title">AIDE</h1>
            <p class="espacement-p">Aide à l'utilisation de l'application</p>
        </div>
    </div>
    <div class="modal-body">
            <div>
                <p>
                    Il est possible de modifier le fond de carte ... 
                    <img src="img/layersControls.jpg" />
                </p>
                <p> 
                    ...ou d'afficher la carte géologique avec une transparence modifiable 
                    <img src="img/opacityLayerControls.jpg" />
                </p>
            </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Fermer</button>
    </div>
</div>
