<div class="modal-content" id="aboutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ok()">&times;</button>
        <div class="jumbotron espacement-jumbotron">
            <h1 class="modal-title espacement-modal-title">Bienvenue</h1>
            <p class="espacement-p">Le Parc national des Ecrins met à disposition l'inventaire des sites géologiques remarquables</p>
        </div>
    </div>
    <div class="modal-body">
        <div>
            Coordonné par le Parc national des Ecrins et réalisé par plusieurs géologues confirmés, cet inventaire a été réalisé dans les années 2000. Les fiches présentées ici sont celles retenues dans le cadre d'un inventaire national.<br/>
            Le contenu présenté sera progressivement enrichi.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Fermer</button>
    </div>
</div>
